[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
pipenv = "*"
pytest = "*"
pycryptodome = "==3.10.1"

[dev-packages]

[requires]
python_version = "3.9"
