!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.db
*.env
*__pycache__*
.coverage
.elasticbeanstalk/*
.pytest_cache*
proxy_server/static/.webassets-cache
proxy_server/static/dist
proxy_server/static/lib
zappa_settings.json
