*__pycache__*
*.env
*.db
.pytest_cache*
zappa_settings.json

# Compiled assets
static/.webassets-cache
static/dist

# yarn libraries
static/lib

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
