<div class="flex">
    <div class="col col1">
        <img src="/static/img/sharing.svg" alt="sharing">
        <h2>Convenient Password Sharing</h2>
        <p>Solve the team frustrations when managing passwords, get access to the shared password pool only by entering in a Slack group.</p>
    </div>
    <div class="col col2">
        <img src="/static/img/storage.svg" alt="box">
        <h2>Secure Password Storage</h2>
        <p>Keep the team passwords encrypted and saved in a secure storage, mitigate the risk of compromising passwords stored in multiples and potentially insecure places.</p>
    </div>
    <div class="col col3">
        <img src="/static/img/transparent.svg" alt="transparent">
        <h2>Transparent and Open Design</h2>
        <p>We document the encryption design, publishing the entire source code, making possible code reviews and check the implemented zero knowledge protocol.</p>
    </div>
</div>
