<div class="container flex">
    <div class="col main">
        <h1>Password Scale</h1>
        <p>Manage the team passwords in a secure way</p>
        <div class="slack-button">
            <a href="{{authorize_url}}"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
        </div>
    </div>
    <div class="col bg"></div>
</div>
