<div class="col brief">
    <div>
        <h3>How it work?</h3>
        <div class="separator"></div>
        <p>To exemplify how the zero knowledge algorithm works, let's look at the following examples:</p>
        <p>Been Alice and Bob members of the same Slack group, they need to share the password of the service Bar. This is the process that they need to follow to share it. In this example Alice will create the secret and Bob will consult it.</p>
    </div>
</div>
<div class="col steps">
    <ol class="indicators">
        <li data-slide-to="0" class="active"></li>
        <li data-slide-to="1"></li>
    </ol>
    <div>
        <div class="slide-0">
            <h4>Creating a secret</h4>
            <ul>
                <li><b>Alice:</b> Requests a link to create the secret (<code>/pass insert Bar</code>)</li>
                <li>Proxy Server: Generates an unique editor link, valid for 15 minutes</li>
                <li>Slack: Shows the editor link, only visible for Alice</li>
                <li><b>Alice:</b> Follows the link</li>
                <li>Proxy Server: Requests the the public key to the Password Server and send it to the editor</li>
                <li>Editor: Displays itself in Alice's browser</li>
                <li><b>Alice:</b> Writes the shared secret</li>
                <li><b>Alice:</b> Press the "Create" button</li>
                <li>Editor: Encrypts the secret before sending the request</li>
                <li>Editor: Sends the request to the Proxy Server</li>
                <li>Proxy Server: Sends the encrypted secret to the Password Server (note that this secret is indecipherable for this server)</li>
                <li>Password Server: Stores the encrypted secret in the configured S3 bucket.</li>
            </ul>
        </div>
        <div class="slide-1">
            <h4>Retrieving a secret</h4>
            <ul>
                <li><b>Bob:</b> Requests a link to see the secret (<code>/pass Bar</code> or <code>/pass show Bar</code>)</li>
                <li>Proxy Server: Requests the secret to the password server using the Slack team name and channel id</li>
                <li>Password server: Reads and decrypt the secret</li>
                <li>Password server: Generates one time use link with the secret, valid for 15 minutes (using One-Time Secret API)</li>
                <li>Password server: Encrypts the link with the Proxy Server public key</li>
                <li>Password server: Sends the encrypted link to the Proxy Server</li>
                <li>Proxy server: Decrypts the one time use link</li>
                <li>Proxy server: Sends the link to Slack</li>
                <li>Slack: Shows the link only visible for Bob</li>
                <li><b>Bob:</b> Follows the link</li>
                <li>Onetimesecret: Shows and destroys the secret</li>
            </ul>
        </div>
    </div>
</div>

<!--p><b>Note:</b> Editor and Proxy Server are the same server, but Editor represents the frontend view.</p-->



