<div class="flex">
    <div class="col">
        <div class="row">
            <div class="header">
                <code>/pass</code>
                <span>or</span>
                <code>/pass list</code>
            </div>
            <p>List the available passwords in the channel.</p>
        </div>
        <div class="row">
            <div class="header">
                <code>/pass &lt;secret&gt;</code> <i>or</i> <code>/pass show &lt;secret&gt;</code>
            </div>
            <p>To retrieve a one time use link with the secret content, this link expires in 15 minutes.</p>
        </div>
        <div class="row">
            <div class="header">
                <code>/pass &lt;secret&gt;</code>
            </div>
            <p>To retrieve a one time use link with the secret content, this link expires in 15 minutes.</p>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="header">
                <code>/pass insert &lt;secret&gt;</code>
            </div>
            <p>To retrieve the link with the editor to create the secret, this link expires in 15 minutes.</p>
        </div>
        <div class="row">
            <div class="header">
                <code>/pass remove &lt;secret&gt;</code>
            </div>
            <p>To make unreachable the secret, to complete deletion is necessary doing it manually from the s3 password storage.</p>
        </div>
        <div class="row">
            <div class="header">
                <code>/pass register &lt;password_server_url&gt;</code>
            </div>
            <p>To setup the password storage, it is only necessary to execute it once.</p>
        </div>
    </div>
</div>
