commands:
  01-bootstrap:
    command: |
        wget https://nodejs.org/dist/latest/
        latest_node=$(grep 'node-v[0-9]*\.[0-9]*\.[0-9]*-linux-x64.tar.gz' index.html -o -m 1 | head -1)
        wget https://nodejs.org/dist/latest/$latest_node
        mkdir /opt/node
        tar -xvzf $latest_node -C /opt/node --strip-components=1
        chmod +x /opt/node/bin/node
        chmod +x /opt/node/bin/npm
    cwd: /tmp
    test: "[ -x /usr/bin/node ]"
