@import 'vars';
@import 'reset';

#Insert {
    .center {
        text-align: center;
    }
    p {
        line-height: 1.5;
    }
    .headline {
        font-size: 1.1em;
    }
    .tip {
        margin-bottom: 15px;
        color: $gray;
    }
    textarea {
        width: 100%;
        padding: 6px 12px;
        font-size: 0.85em;
        line-height: 1.42857143;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        height: auto;
    }
    .actions {
        margin-top: 10px;
        text-align: right;
    }
    .btn-orange {
        background-color: $orange-dark;
        color: white;
    }
    .counter {
        height: 29px;
        margin-top: -29px;
        text-align: right;
        padding-right: 9px;
        color: $gray;
        user-select: none;
        &.warning {
            color: red;
        }
    }
    .hidden {
        display: none;
    }
}
