<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Cutive+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
<div id="HeadingLine"></div>
<header>
    <div class="container">
        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="scale-logo">
        <div class="links">
            <a href="/" target="blank">About</a>
        </div>
    </div>
</header>
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
