{% extends "base.html" %}
{% block title %}{{ secret }} password{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Passwor for {{ secret }}</h1>
        <form action="" method="post">
            <div class="form-group">
                <textarea class="form-control"  name="secret" id="secret" cols="30" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
