{% extends "base.html" %}
{% block title %}Password Scale{% endblock %}
{% block meta %}
<meta name="slack-app-id" content="ABA2S1PHD">
{% endblock %}
{% block content %}
<div class="container">
    <h1>Privacy Policy</h1>

    <h2>Last updated: Jun 21, 2018</h2>

    <p>This privacy policy describes our commitment to preserving the security of your Personal Data, your privacy, and your rights to your Personal Data. It is written in plain language because we want to communicate this to you. It therefore lacks some of the precision that a document drafted by and for legal professionals would have, but it still represents our good faith effort at describing what we and you agree to when you entrust us with your data.</p>

    <h2>Principles</h2>
    <p>We believe that the less information we know about you, the better. After all, it is impossible to lose, misuse, or abuse information we don’t have. To the extent that we have control over your data or data about you, we see ourselves as custodians of that data on your behalf.</p>

    <h2>Information We Keep and How We Use It</h2>
    <p>WIP</p>

    <h2>Your Responsibilities for Protecting Your Data</h2>
    <p>WIP</p>

    <h2>Data Portability</h2>
    <p>WIP</p>

    <h2>Your Right to Knowing to What We Know</h2>
    <p>You have the right to know what we know about you and to see how that data is handled. You may request a screenshot of what we can see about you in our back office systems. However, to protect customer privacy, such requests must be carefully authenticated beyond demonstrating control of the customer’s email address.</p>

    <h2>Your Right to Have Your Data Erased</h2>
    <p>WIP</p>

    <h2>Cookies and Tracking</h2>
    <p>We do not engage in or support cross-service tracking.</p>
    <p>We do set and use cookies (small text files placed on your device) on our own domains and subdomains to store settings that assist with identifying your account for sign-in. We also use third party analytics packages for our public pages that may set cookies on your computer. These are limited to our domains, and do not involve cross-service tracking.</p>

    <h2>Updates to our Privacy Policy</h2>
    <p>At our discretion, we may make changes to this Policy and note the date of the last revision. You should check here frequently if you need to know of updates to our Privacy Policy. We maintain the right to send you annoying email informing you of substantive changes. Previous versions will be made available from this page.</p>
</div>
{% endblock %}
