// fonts
$monospace: "Source Code Pro", monospace;
$sans: "Open Sans", sans-serif;
$font-color: #4f535d;

// colors
$black: #333;
$blue: #4a90e2;
$blue-dark: #4b54cb;
$gray: #848484;
$lighter-gray: #f9f9f9;
$light-gray: #ccc;
$darh-gray: #333;
$orange-dark: #d65126;
$orange: #ee8424;
