@import 'vars';

body {
    font-family: $sans;
    font-size: 20px;
    color: $font-color;
    a {
        color: $blue;
    }
    .mono {
        font-family: $monospace, monospace;
    }
    .container {
        width: 640px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        &.hd {
            width: 1080px;
        }
    }
    i.fa-github {
        color: $darh-gray;
        font-size: 39px;
        line-height: 1;
        vertical-align: bottom;
        padding: 0 5px;
    }
    #HeadingLine {
        width: 100%;
        background-image: linear-gradient(to right, #3e9dec, #4b54cb);
        height: 4px;
    }
    header {
        background-image: linear-gradient(to right, #3e9dec, #4b54cb);
        height: 37px;
        .logo {
            width: 48px;
            margin-top: 5px;
        }
        .links {
            font-size: 0.7em;
            float: right;
            margin-top: 9px;
            a {
                color: white;
            }
        }
    }
    .btn {
        font-family: inherit;
        padding: 6px 12px;
        cursor: pointer;
        user-select: none;
        border: 1px solid transparent;
        color: $darh-gray;
        background-color: white;
        border-color: $light-gray;
    }
    .btn:disabled {
        background: #f9f9f9;
        color: #a9a9a9;
        cursor: default;
    }
    .success {
        h1 {
            margin: 50px 0 25px 0;
        }
    }
    .contact-form {
        .container {
            width: 600px;
            h4 {
                margin-top: 50px;
                text-align: center;
                font-size: 1.2em;
                letter-spacing: 0.3em;
            }
            .separator {
                width: 30px;
                height: 2px;
                background-color: $blue;
                margin: 18px auto 8px auto;
            }
            form {
                text-align: center;
                margin: 0 0 30px 0;
                input,
                textarea {
                    border: 1px solid $light-gray;
                    line-height: 2;
                    margin-top: 25px;
                    padding-left: 10px;
                    width: 100%;
                    &:focus {
                        outline: none !important;
                        border: 1px solid $blue;
                        box-shadow: 0 0 10px $light-gray;
                    }
                }
                input {
                    height: 44px;
                }
                textarea {
                    padding-top: 5px;
                    line-height: 1.5;
                    resize: vertical;
                }
                button {
                    background: transparent;
                    border: 2px solid $blue;
                    color: $font-color;
                    font-size: 0.75em;
                    font-weight: 700;
                    letter-spacing: 0.2em;
                    margin: 25px auto;
                    padding: 0.85em 3.1em;
                    text-transform: uppercase;
                }
            }
        }
    }
    input,
    textarea,
    button {
        font-family: $sans;
    }
}
