@import "vars";

body {
    font-family: $sans;
    font-size: 20px;
    color: $font-color;
    a {
        color: $blue;
    }
    .mono {
        font-family: $monospace, monospace;
    }
    .container {
        width: 640px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    i.fa-github {
        color: $darh-gray;
        font-size: 39px;
        line-height: 1;
        vertical-align: bottom;
        padding: 0 5px;
    }
    #HeadingLine {
        width: 100%;
        background-image: linear-gradient(to right, #3e9dec, #4b54cb);
        height: 4px;
    }
    header {
        background-image: linear-gradient(to right, #3e9dec, #4b54cb);
        height: 37px;
        .logo {
            width: 48px;
            margin-top: 5px;
        }
        .links {
            font-size: 0.7em;
            float: right;
            margin-top: 9px;
            a {
                color: white;
            }
        }
    }
    .btn {
        font-family: inherit;
        padding: 6px 12px;
        cursor: pointer;
        user-select: none;
        border: 1px solid transparent;
        color: $darh-gray;
        background-color: white;
        border-color: $light-gray;
    }
    .btn:disabled {
        background: #f9f9f9;
        color: #a9a9a9;
        cursor: default;
    }
    .success {
        h1 {
            margin: 50px 0 25px 0;
        }
    }
    input,
    textarea,
    button {
        font-family: $sans;
    }
}
