@import "vars";

$header-text-color: white;

#Landing {
    .container {
        width: 960px;
        width: 1080px;
    }
    .flex {
        display: flex;
    }
    h1,
    h2,
    h3,
    h4 {
        text-transform: uppercase;
    }
    header {
        background-color: $blue;
        background-image: url("/static/img/bg.png");
        background-position-y: center;
        background-size: cover;
        color: $header-text-color;
        height: 570px;
        margin: 0;
        text-align: center;
        .logo {
            margin-top: 120px;
            width: 132;
        }
        h1 {
            font-size: 1.1em;
            margin-top: 44px;
            color: $header-text-color;
            font-weight: 700;
            letter-spacing: 0.4em;
        }
        .separator {
            width: 30px;
            height: 2px;
            background-color: #ffffff;
            margin: 30px auto 25px auto;
        }
        p {
            font-size: 0.85em;
            text-transform: uppercase;
            letter-spacing: 0.4em;
            width: 457px;
            margin: 0 auto;
            line-height: 2.3;
        }
        .slack-button {
            margin-top: 30px;
            a {
                display: block;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .features {
        margin: 71px auto 78px auto;
        h2 {
            font-size: 0.9em;
            font-weight: 700;
            letter-spacing: 0.2em;
            line-height: 1.4;
            margin: 30px 0 27px 0;
        }
        img {
            margin-top: 25px;
        }
        .col {
            border-top: solid 4px $blue;
            flex: 1;
        }
        .col1 {
            img {
                width: 63px;
            }
            margin-right: 37px;
        }
        .col2 {
            img {
                width: 42px;
            }
            margin: 0 39px;
        }
        .col3 {
            img {
                width: 46px;
            }
            margin-left: 37px;
        }
        p {
            font-size: 0.7em;
            line-height: 1.75;
            font-weight: 200;
        }
    }
    .command {
        padding: 30px 0;
        background-color: $lighter-gray;
        h3 {
            margin-top: 50px;
            text-align: center;
            font-size: 1.4em;
            letter-spacing: 0.3em;
        }
        .separator {
            width: 30px;
            height: 2px;
            background-color: $blue;
            margin: 18px auto;
        }
        .col {
            flex: 1;
        }
        .row {
            font-size: 0.8em;
            margin-top: 20px;
            height: 100px;
            padding-right: 10px;
            p {
                margin-top: 10px;
                font-weight: 300;
            }
            .header {
                font-weight: bold;
            }
        }
        code {
            font-size: 0.9em;
        }
    }
    .how-it-works {
        font-size: 0.8em;
        font-weight: 300;
        padding: 0;
        width: 100%;
        height: 670px;
        display: flex;
        .separator {
            width: 30px;
            height: 2px;
            background-color: #ffffff;
        }
        .col {
            flex: 1;
            overflow: hidden;
            > div {
                width: 540px;
            }
            &.brief {
                background-image: linear-gradient(230deg, #3e9dec, #4b54cb);
                color: white;
                > div {
                    margin: 0 0 0 auto;
                    h3 {
                        margin: 176px 0 18px 0;
                        font-size: 1.7em;
                        letter-spacing: 0.4em;
                    }
                    p {
                        margin-top: 28px;
                        line-height: 2;
                        width: 90%;
                    }
                }
            }
            &.steps {
                position: relative;
                h4 {
                    margin: 52px 0 20px 61px;
                    font-size: 1.1em;
                    letter-spacing: 0.1em;
                }
                .indicators {
                    position: absolute;
                    left: 528px;
                    top: 52px;
                    li {
                        margin-bottom: 11px;
                        width: 10px;
                        height: 10px;
                        border: solid 1px #c3c3c3;
                        cursor: pointer;
                        &.active {
                            border-style: solid;
                            border-width: 1px;
                            border-image-source: linear-gradient(
                                to right,
                                #3e9dec,
                                #1bedca
                            );
                            border-image-slice: 1;
                        }
                    }
                }
                .slide-0,
                .slide-1 {
                    transition: margin 700ms;
                    height: 618px;
                }
                .slide-0.hide {
                    margin-top: -670px;
                }
                ul {
                    margin-left: 61px;
                    list-style: none;
                    padding: 0;
                    li {
                        font-size: 0.9em;
                        margin: 10px 0;
                        line-height: 2;
                    }
                }
            }
        }
        p {
            padding: 12px 0;
        }
        ul {
            list-style: initial;
            padding-left: 30px;
            line-height: 1.5;
            margin: 9px 0;
        }
        code {
            font-size: 0.8em;
        }
    }
    .server {
        font-size: 0.75em;
        line-height: 1.8;
        font-weight: 300;
        background-color: $lighter-gray;
        .github-logo {
            flex: 1;
            img {
                width: 90%;
                margin: 0 auto;
            }
        }
        .copy {
            flex: 7;
            p {
                padding: 8px 20px 0;
            }
        }
        .container {
            padding: 50px 0;
            width: 650px;
        }
        a {
            color: $font-color;
            text-decoration: underline;
        }
    }
    footer {
        height: 39.9px;
        background-image: linear-gradient(to right, #3e9dec, #4b54cb);
        font-size: 0.7em;
        letter-spacing: 0.1em;
        a {
            color: white;
            margin-right: 40px;
        }
        ul {
            margin-top: 10px;
            float: left;
            li {
                display: inline-block;
                padding-right: 5px;
            }
        }
        .copy {
            float: right;
            margin-top: 10px;
        }
    }
    .contact-form {
        .container {
            width: 600px;
            h4 {
                margin-top: 50px;
                text-align: center;
                font-size: 1.2em;
                letter-spacing: 0.3em;
            }
            .separator {
                width: 30px;
                height: 2px;
                background-color: $blue;
                margin: 18px auto 8px auto;
            }
            form {
                text-align: center;
                margin: 0 0 30px 0;
                input,
                textarea {
                    border: 1px solid $light-gray;
                    line-height: 2;
                    margin-top: 25px;
                    padding-left: 10px;
                    width: 100%;
                    &:focus {
                        outline: none !important;
                        border: 1px solid $blue;
                        box-shadow: 0 0 10px $light-gray;
                    }
                }
                input {
                    height: 44px;
                }
                textarea {
                    padding-top: 5px;
                    line-height: 1.5;
                    resize: vertical;
                }
                button {
                    background: transparent;
                    border: 2px solid $blue;
                    color: $font-color;
                    font-size: 0.75em;
                    font-weight: 700;
                    letter-spacing: 0.2em;
                    margin: 25px auto;
                    padding: 0.85em 3.1em;
                    text-transform: uppercase;
                }
            }
        }
    }
}
