{% extends "base.html" %}
{% block title %}Password Scale - Password manager for teams{% endblock %}
{% block meta %}
<meta name="slack-app-id" content="{{app_id}}">
<meta name="description" content="Password manager that integrates with Slack to allow users to save and retrieve passwords on demand with a command.">
<meta name="keywords" content="Password, Password Manager, Slack, onetimesecret, pass">
<meta name="author" content="Talpor">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123040465-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-123040465-1');
</script>
{% endblock %}
{% block content %}
<div id="Landing">
    <header>
        {% include 'landing/_header.html' %}
    </header>
    <div class="container features">
        {% include 'landing/_features.html' %}
    </div>
    <div class="command">
        <div class="container">
            <h3>Slack command ussage:</h3>
            <div class="separator"></div>
            {% include 'landing/_usage.html' %}
        </div>
    </div>
    <div class="how-it-works container">
        {% include 'landing/_how.html' %}
    </div>
    <div class="server">
        <div class="container flex">
            <div class="github-logo">
                <img src="/static/img/github@2x.png" alt="github logo">
            </div>
            <div class="copy">
                <p>Go to our <a href="https://github.com/talpor/password-scale" target="blank">github project</a> for instructions on how to set up your own password server, also you can try the command on your Slack team using our test server</p>
            </div>
        </div>
    </div>
    <div class="contact-form">
        <div class="container">
            <h4>Send us a message</h4>
            <div class="separator"></div>
            <form method="POST" action="https://formspree.io/4i84hsnd82jy@opayq.com">
                <input type="email" name="email" placeholder="EMAIL">
                <textarea rows="9" name="message" placeholder="MESSAGE"></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    <footer>
        <div class="container">
            <ul>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="https://github.com/talpor/password-scale" target="blank">GitHub</a></li>
                <li><a href="mailto:4i84hsnd82jy@opayq.com" target="blank">Contact</a></li>
            </ul>
            <a class="copy" href="https://talpor.com" target="blank">© 2018 Talpor</a>
        </div>
    </footer>
</div>
{% endblock %}
